<div class = "contain">
    <h1>Currency</h1>
    <p>
        The currency in Tunisia is the DINAR (TND). It can be exchanged at banks, exchange brokers, travel agencies, and authorized hotels. The official exchange rate is published daily in newspapers and specialized websites.
    </p>
    <p>
        Both travellers checks and cash are easily exchanged at exchange counters. International credit cards are accepted in most hotels, restaurants, shops, travel agencies, car rental companies, and other companies that provide services to tourists.
    </p>
    <p>
        As for the DINAR, bills and coins have distinctive features and security elements that facilitate their identification. Tunisian banknotes are printed in denominations of 5 dinars, 10 dinars, 20 dinars and 50 dinars. Tunisian coins are minted in denominations of 20 francs, 50 francs, 100 francs, 200 francs, 500 francs, 1 Dinar, 2 Dinars and 5 Dinars.
    </p><br><br>

    <h4>Tunisian backnotes</h4>
    <p>
        <b style = "font-weight: bold">NB: </b> left(front-view) / right(back-view)<br><br>
        <img src = "assets/money/backnotes.jpg" height = "900" width = "700">
    </p>

    <h4>Tunisian coins</h4>
    <p>
        <b style = "font-weight: bold">NB: </b> up(front-view) / down(back-view)<br><br>
        <img src = "assets/money/coins.jpg" width = "900">
    </p>
</div>