<div class = "container header d-flex">
    <img src = "assets/logo.png" class = "logo">
    <div class = "align-self-center">
        <h1 class = "title">Best Tunisia Travel</h1>
        <span class = "slogan">Experience travelling like you never did before</span>
    </div>
</div>

<div class = "welcome" style = "text-align: center">
    <h1 style = "font-size: 85px">Who are we?</h1>
    <p style = "font-family: arial 20px; font-weight: 100" class = "container">
        Best Tunisia Travel is a new startup travel agency that aims to improve and promote Tourism in Tunsia.
        We at Best Tunisia Travel offer our customers the best in esteem and quality travel game plans.
        just as our slogan says "Experience travelling like you never did before" We are enthusiastic about
        sharing Tunisia's marvels with the rest of the world in a way tourists will live one of their most 
        unforgettable experience.
    </p><br><br><br><br><br><br><br><br>

    <h1 style = "font-size: 85px">Our goals</h1>
    <p style = "font-family: arial 20px; font-weight: 100" class = "container">
        Founded at 2019, our goal was and still is to help the sector of tourism in Tunisia get back
        on its feet after its near-collapse during the years between 2014-2017 due to multiple terrorist attacks.
        Best Tunisia Travel is a travel agency located in Hammamet, Nabeul. We offer foreign tourists the best quality
        services thus living one the best experience in their lives. From the sun-drenched beaches of the north to the 
        unforgiving desert of the south, and with desolate, lunar landscapes in between, Tunisia has quite the unique allure.
        there’s never been a better time to experience it. It’s not often you can clock Roman ruins this grand, seaside living
        this perfect, and medieval towns this well preserved, in such quietude. Morocco may be what’s hot, but Tunisia is where to 
        find that next-level slice of North Africa, with a fraction of the tourists. and our agency is here to make your dream a reality.
    </p><br><br><br><br><br><br><br><br>

    <h1 style = "font-size: 85px">Our services</h1>
    <div style = "font-family: arial 20px; font-weight: 100;" class = "container">
        Our tourists activities are divided between two areas: 
        <ul class = "list-group p-3">
            <li class = "list-group-item">South tunisia: 
                Discovery and adventure tours (May include camel treks, mountain biking, 4X4 races)
            </li>
            <li class = "list-group-item">North tunisia: 
                Cultural circuits excursions to Tunis, Sousse, Monastir and Nabeul
            </li>
        </ul>
    </div><br><br><br><br><br><br><br><br>

    <h1 style = "font-size: 85px">Our location</h1><br><br>
    <i class="fas fa-building" style  = "font-size: 290px; color: red;"></i>
    <div class = "locator">
        <i class="fas fa-map-marker-alt" style  = "font-size: 200px; color: gold;"></i>
    </div><br><br><br><br><br><br><br><br>
    <p style = "font-family: arial; font-size: 70px; font-weight: 100" class = "container">
        126 Rue du Koweit Hammamet
    </p><br><br><br><br><br><br><br><br>

    <h1 style = "font-size: 85px">Special thanks to our freelance developers</h1>
    <br><br><br><br>

    <div class = "container d-flex justify-content-around">

        <div class = "card" style = "width: 18rem;">
            <img src = "assets/developers/aouledissa_yousri.png" class = "card-img-top img">
            <div class = "card-body">
                <h5 class = "card-title">Aouledissa Yousri</h5>
                <p class = "card-text" style = "font-family: arial 20px; font-weight: 1">
                    A junior software engineer specializing in both web and mobile Development
                    with 3 years of experience at amazon
                </p>
            </div>
        </div>


        <div class = "card" style = "width: 18rem">
            <img src = "assets/developers/omar_fitouri.png" class = "card-img-top img">
            <div class = "card-body">
                <h5 class = "card-title">Mohamed omar fitouri</h5>
                <p class = "card-text" style = "font-family: arial 20px; font-weight: 1">
                    A system reliability engineer and a backend developer with 3 years of experience at google 
                </p>
            </div>
        </div>
    </div>

</div>
























<div class = "footer bg-dark text-light">
    <div class = "d-flex justify-content-around">
        <img src = "assets/logo.png" height = "200" width = "200" >

        <div>
            <span style = "font-size: 20px;">Site</span><br>
            <a class = "footer-link" (click) = "redirect('Home')" routerLink = "Home">Experience</a><br>
            <a class = "footer-link" (click) = "redirect('Destinations'); scroll(0)" routerLink = "Destinations">Destinations</a><br>
            <a class = "footer-link" (click) = "redirect('Essential'); scroll(0)" routerLink = "Essential">Essential information</a><br>
            <a class = "footer-link" (click) = "scroll(0)" routerLink = "About">About us</a><br>
        </div>

        <div>
            <span style = "font-size: 20px;">Follow us</span><br>
            <a href = "https://facebook.com" target = "_blank"><img src = "assets/socialMedia/facebook.png" class = "image icon"></a>
            <a href = "https://youtube.com" target = "_blank"><img src = "assets/socialMedia/youtube.png" class = "image-2 icon"></a>
            <a href = "https://twitter.com" target = "_blank"><img src = "assets/socialMedia/twitter.png" class = "image icon"></a>
            <a href = "https://instagram.com" target = "_blank"><img src = "assets/socialMedia/instagram.png" class = "image icon" style = "margin-left: 5px"></a>

        </div>

    </div>

    
</div>