

<div class = "contain">
    <div>
        <img src = "assets/logo.png" class = "logo">
        <span class = "logo-title">Best Tunisia Travel</span>
    </div>
    <ul class = "nav d-flex justify-content-end">
        <li class = "element "><a routerLink = "Home" routerLinkActive = "active" class = "link">Home</a></li>
        <li class = "element"><a routerLink = "Destinations" routerLinkActive = "active" class = "link">Destinations</a></li>
        <li class = "element"><a routerLink = "About" routerLinkActive = "active" class = "link">About us</a></li>
    </ul>
</div>