@import url('http://fonts.cdnfonts.com/css/apple-chancery');

.bar{
    background: linear-gradient(to top right, rgb(59, 58, 58), rgb(88, 88, 88));
}


.logo{
    height: 100px; 
    width: 100px;
}

.logo-title{
    font-family: 'Apple Chancery', sans-serif;
    font-size : 25px;
    font-weight: bold;
    color: white;
}

.element{
    font-weight: 500;
    font-size: 21px;
    margin-right: 40px;
    position: relative;
    top: -50px;
}

.link {
    text-decoration: none;
    color: rgb(204, 203, 203);
    transition: color 0.5s;
}

.link:hover{
    color: white;
}

.active{
    color: white;
    font-weight: bold;
}

.contain{
    animation: fading 2s;
    transition: background 1s;
}

.playAnimation{
    animation: fading 2s;
}



@keyframes fading{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.activated{
    background: rgba(22, 22, 22, 0.473);
}




