@import url("../destinations/destinations.component.css");

.loading{
    padding: 50px;
    border-radius: 50%;
    border: 10px solid rgb(194, 194, 194);
    border-left: 10px solid rgb(27, 238, 132);
    width: 5%;
}

@keyframes load{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.load{
    animation: load 1s;
}