<div class = "contain">
    <h1>Language</h1>
    <p>
        The official language in Tunisia is arabic, The Tunisian accent is one of the hardest arabic accents 
        to master even for arabs themselves. Many Tunisians speak french fluently and some of them can also speak english.
        You can also meet people who can speak other languages such as: German, Italian, Spanish ...etc.
    </p><br><br>
    <p>
        The list below compromises some basic words and local expressions used often which might help you speak 
        with Tunisian people on your next visit to our country: 
    </p>

    <ul>
        <p>
            <li>Hi = السلام عليكم / عسلامة (aslema / salamou alaykom/</li>
            <li>Bye = بالسلامة / باي / في اللأمان (filaman / bye / bislama)</li>
            <li>Yes = اي (ey)</li>
            <li>No = لا (lé)</li>
            <li>Maybe = يمكن (yomkon)</li>
            <li>Please = بربي / بجاه ربي (bjah rabi / brabi)</li>
            <li>Good morning = صباح الخير (sbah elkhir)</li>
            <li>Good night = على خير (ala khir)</li>
            <li>What's your name = شسمك (chesmek)</li>
            <li>My name is = (say your name)</li>
            <li>Thank you = شكرا / يرحم والديك/عيشك (chokran / yarhem waldik / aychek)</li>
            <li>I'm sorry = سامحني (samahni)</li>
            <li>You're welcome = منغير مزية (menghir mziya)</li>
            <li>Excuse me = لخظة بربي / سامحني (samahni / lahdha brabi)</li>
        </p>
    </ul>
</div>