<div  class = "container offers">
     
    <input type = "text" placeholder = "Search offer name" class = "form-control search" #word (keyup) = "search(word.value)"><br><br>
    <h4 style = "text-align: center">Search by category</h4>
    <div style = "margin-left: 25%">
        <input type = "checkbox"  value = "Nature and outdoor activities" [checked] =  "checkCategory('Nature and outdoor activities')" (click) = "modCategory($event); filter()"> 
        Nature and outdoor activities &nbsp; &nbsp;

        <input type = "checkbox" value = "Culture" [checked] = "checkCategory('Culture')" (click) = "modCategory($event); filter()"> Culture &nbsp; &nbsp;
        <input type = "checkbox" value = "Gastronomy" [checked] = "checkCategory('Gastronomy')" (click) = "modCategory($event); filter()"> Gastronomy &nbsp; &nbsp;
        <input type = "checkbox" value = "Beaches" [checked] = "checkCategory('Beaches')" (click) = "modCategory($event); filter()"> Beaches 
    </div>
   
    <div class = "d-flex flex-wrap justify-content-around">
        <ng-container *ngIf = "destinations.length > 0; else searchOffer">
            <ng-container *ngFor = "let destination of destinations">
            
                <div class = "card item load" style = "width: 350px; margin-bottom: 10px; margin-top: 20px">
                    <img [src] = "destination.image" class = "card-img-top" height = "300">
                    <div class = "card-body">
                        <h5 class = "card-title">
                            <i class="fas fa-map-marker-alt"></i>
                            {{destination.name}}
                        </h5>
                        <p class = "card-text" style = "font-family: arial 20px; font-weight: 1; color: red">
                            {{destination.prize}} <sup>TND</sup>
                        </p>
                        <button class = "btn btn-primary" style = " margin-left: 210px" (click) = "seeMore(destination.id)">See more</button>
                    </div>
                </div>
            
            </ng-container>
        </ng-container>

        <ng-template  #searchOffer>
            <ng-container *ngIf = "!found; else loading">
                <h1 style = "margin-top: 10px">No offers found</h1> 
            </ng-container>
        </ng-template>
    
        <ng-template #loading >
            <div class = "loading"></div>
        </ng-template>

        
    </div>

</div>
