.offers{
    position: relative;
    top: 10vh;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.loading{
    padding: 60px;
    border-radius: 50%;
    border: 10px solid rgb(194, 194, 194);
    border-left: 10px solid rgb(27, 238, 132);
    animation: loading 1s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

.item{
    transition: transform 0.5s
}

.item:hover{
    transform: scale(1.05)
}

@keyframes load{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.load{
    animation: load 1s;
}

.search{
    width: 40vw;
    margin-left: 23vw
}

