<div class = "contain">
    <h1>Travel papers</h1><br>
    <h4>Passport and visas: </h4>
    <ul>
        <p>
            <li>A valid passport is required.</li>
            <li>
                A residence permit is needed for stays longer than 90 days.  
                The residence permit can be obtained from the central police station of the district 
                of residence.
            </li>
        </p>
    </ul><br><br>

    <div>
        <h4>Exit requirements: <span style = "font-family: arial; font-weight: 1; font-size: 15px">None</span></h4>
    </div> <br><br>

    <h4>Do you need a visa?</h4>
    <p>
        Travelers from most countries in the world require a visa to visit Tunisia. <br>
        To find out whether or not you need a visa to visit Tunisia go to
        <a href = "https://www.visatunisia.com/tourist-visas/" target = "_blank">visatunisia.com</a> or
        <a href = "https://visaguide.world/africa/tunisia-visa/" target = "_blank">click here</a>
    </p>
</div>