<div class = "contain">
    <h1>Health</h1>
    <p>
        Medical care in Tunisia is adequate, with a number of new, private “polyclinics” available that function as simple hospitals 
        and can provide a variety of high quality procedures.
    </p>

    <p>
        State-owned health facilities and hospitals provide free service to all Tunisian citizens, residents and even tourists.
        Therefore, if you are in an accident, need medical attention, or have any health issues, just call the Mobile Emergency Medical Service (SAMU) on the toll-free number below.<br><br>        
    </p>
    <b>SAMU (Mobile Emergency Medical Service): 190</b><br><br>
    <h4>Health tips</h4>
    <ul>
        <p>
            <li>Avoid drinking tap water instead, rely on bottled water which you can purchase from shops. It's very cheap and available readily throughout the country, and it will help further reduce your risk of contracting a serious disease.</li><br>
            <li>Tunisia continues to follow all security protocols to combat COVID-19. In order to reduce the risk of contamination, wear protective masks and wash your hands frequently with soap and water. Also, use hand sanitizers that contain 70% alcohol, especially after using public transport or visiting tourist attractions where there are crowds.</li>
        </p>
    </ul>

    <h4>Vaccines</h4>
    <p>Assuming your vaccinations are all up to date, injections you will want to receive are:</p>
    <ul>
        <p>
            <li>Hepatitis A</li>
            <li>Hepatitis B</li>
            <li>Typhoid</li>
            <li>Cholera</li>
            <li>Rabies</li>
        </p>
    </ul>

    <h4>Covid-19</h4>
    <p>
        It is very recommended to get a COVID-19 vaccine before travelling to tunisia. Your risk of contracting COVID-19 and developing severe symptoms may be lower if you are fully vaccinated with an FDA authorized vaccine
    </p>

        
</div>